body{
    font-size: 25px;
    font-style: normal;
    background-color: #132555;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    margin: 0;
}

#mainBody{
    width: 70%;
    height: 100%;
    background: radial-gradient(#6299c6,#8fcbf6);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Subtitulo{
    font-size: 70px;
}

#containerRedes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #44a9f1;
}

#redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8%;
}

.logoRedes{
    width: 50px;
    height: 50PX;
    padding: 5% 10% 5% 10%;
    cursor: pointer;
}
.logoRedes:hover{
    width: 70px;
    height: 70PX;
}

#containerInfoPrincipal{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    background: linear-gradient(to bottom,#44a9f1,rgb(143, 203, 246));
}

#infoPrincipal{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

h1{
    font-size: 80px;
}

#descripcion{
    width: 95%;
    font-weight: 400;
}

.Avatar{
    width: 350px;
    border-radius: 50%;
}


.infoBreveProyecto{
    font-size: 33px;
    font-weight: 500;
}

.DescripcionTxt{
    font-size: 32px;
    margin-top: 5%;
}

#containerLogosHabilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    padding: 5% 0% 5% 0%;
    background-color: #8fcbf6;
}

#tituloLogos{
    font-size: 40px;
    font-weight: 400;
    margin: 0px 0px -0.1px 0px;
}

#logosHabilidades{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,#9dd1f6,#8fcbf6);
}

.Logos{
    width: 5%;
    padding: 0px 2% 0px 2%;
}
.Logos:hover{
    width: 8%;
}

#containerProyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    background-color: #8fcbf6;
}

.nameProyecto{
    font-size: 39px;
}

.proyectos{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-flow: column wrap;
    width: 60%;
    background-color: rgb(225, 241, 255);
    margin: 10px 10px 10px 10px;
}

#proyectosName{
    text-align: center;
    width: 100%;
}

#infoProyecto{
    display: flex;
    align-items: start;
    flex-flow: row nowrap;
    width: 100%;
}

#ProyectosImg{
    margin: 0% 2% 2% 5%;
}

#DescripcionProyectos{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    text-align: left;
}

#imgProyectos{
    width: 450px;
    height: 350px;
}

#containerContacto{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #8fcbf6;
    padding: 5% 0% 0% 0%;
}

#tituloContacto{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#contacto{
    display: flex; 
    width: 50%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #badef7;
    padding: 2% 0% 2% 0%;
}

#nombreApellidoContacto{
    display: flex;
    width: 81%;
    height: 60px;
    margin: 0% 0% 1.5% 0%;
}

.iptContacto{
    width: 80%;
    height: 60px;
    margin: 0.5% 0.5% 0.5% 0.5%;
    font-size: 32px;
    color: grey;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
} 

#iptDescripcion{
    height: 150px;
}

#btnAceptar {
    background-color: #bdbdbd;
    color: black;            
    padding: 15px 30px;       
    overflow: hidden;    
    background-color: rgb(211, 211, 211);
}

#btnAceptar:hover {
    transition: 0.5s;
    background-color: rgb(28, 209, 28);
}

#containerSobreMi{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 0% 5% 0%;
    background-color: #8fcbf6;
}

#sobreMi{
    width: 40%;
    padding: 0px 50px 0px 0px;
}

#imgSobreMi{
    width: 450px;
    height: 450px;
    border-radius: 2%;
    margin-top: 5%;
}

footer{
    display: flex;
    justify-content: right;
    align-items:flex-end;
    font-size: 25px;
    padding-top: 5%;
    font-weight: 0;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top,#44a9f1,#8fcbf6);
}