body{
    font-size: 25px;
    font-style: normal;
    background-color: rgb(98, 153, 198);
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    margin: 0;
}

#mainBody{
    width: 50%;
    height: 100%;
    background-color: rgb(143, 203, 246);
}

.Subtitulo{
    font-size: 70px;
}

#containerInfoPrincipal{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
}

#infoPrincipal{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

h1{
    font-size: 80px;
}

#descripcion{
    width: 100%;
}

.Avatar{
    width: 80%;
    border-radius: 50%;
}

#containerLogosHabilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5% 0% 5% 0%;
}

#logosHabilidades{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 241, 255);
}

.Logos{
    width: 7%;
    padding: 0px 2% 0px 2%;
}

#containerProyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

.nameProyecto{
    font-size: 35px;
}

.proyectos{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-flow: column wrap;
    width: 60%;
    background-color: rgb(225, 241, 255);
    margin: 10px 10px 10px 10px;
}

#proyectosName{
    text-align: center;
    width: 100%;
}

#infoProyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

#ProyectosImg{
    margin: 0% 2% 2% 0%;
}

#DescripcionProyectos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: left;
    padding: 20px 0px 20px 0px;
}

#imgProyectos{
    width: 450px;
    height: 350px;
}

#containerSobreMi{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 0% 5% 0%;
}

#sobreMi{
    width: 40%;
    padding: 0px 50px 0px 0px;
}

#imgSobreMi{
    width: 400px;
    height: 450px;
    border-radius: 0%;
}